:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #000;
  color: #33ff00;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
